{{ $styleguide := partialCached "tnd-styleguide/func/GetHome" . "func/GetHome" }}
{{ $current_section := .Section }}
<ul>
  {{ range $styleguide.Sections }}
    <li x-data="{ open: false }">
      <a @click="open = true" href="{{ .RelPermalink }}" class="group flex items-center px-2 py-2 text-md leading-5 font-medium text-gray-900 rounded-md hover:text-gray-900 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150">
        {{ partial (printf "tnd-styleguide/svg/%s.svg" (.Params.icon | default "folder")) . }}
        {{.Title}}
      </a>  
      {{ with $entries := .Pages }}
        <ul{{ if ne $current_section  (index $entries 0).Section}} x-show="open" @click.away="open = false" style="display: none;"{{ end }} class="mb-4 pl-10">                              
          {{ range . }}                  
            <a href="{{ .RelPermalink }}" class="block px-2 py-1 text-gray-800 text-sm bg-gray-100 border-b border-white hover:bg-primary-400">
              {{ .Title }}
            </a>
          {{ end }}
        </ul>
      {{ end }}
    </li>     
{{ end }}
</ul>
