{{ define "main" }}

{{/* 
  replicating https://bradfrostdotcom-pl.netlify.app/?p=atoms-brand-colors


  */}}
<div class="grid gap-6 max-w-lg lg:grid-cols-3">
	{{ range $index, $color := .Params.colors }}
    <div class="flex flex-col rounded shadow-md overflow-hidden">
      <div class="flex-shrink-0 h-48 {{ printf "bg-%s-500" . }}"> 
        background color
        {{ printf "bg-%s-500" . }}
      </div>
      <div class="bg-white p-6">			
        {{.}}			
      </div>
    </div>
	{{ end }}
</div>

{{ end }}
