{{ define "main" }}

{{/* 
  replicating https://bradfrostdotcom-pl.netlify.app/?p=atoms-brand-colors


  */}}
{{ range $index, $color := .Params.colors }}
<div class="grid gap-6 lg:grid-cols-9 mb-16">
  {{ range seq 1 9 }}
    <div>
      {{ $color := printf "%s-%x00" $color . }}
      {{ $classes := slice }}
      {{ $classes = $classes | append (print "bg-" $color) }}
      {{ $text := "text-inherit" }}
      {{ if gt . 4 }}
        {{ $text = "text-white" }}
      {{ end }}
      {{ $classes = $classes | append $text }}
      {{ $border := "gray-100" }}
      {{ if eq $color $border }}
        {{ $classes = $classes | append "border border-gray-200" }}
      {{ end }}
      {{ $class := delimit $classes " " }}
      <div class="h-48 p-2 {{ $class }}"> 
        {{ $color }}
      </div>
      <div class="bg-white p-2">			
        bg-{{ $color }}
      </div>
    </div>
  {{ end }}
</div>
{{ end }}


{{ end }}
